<div id="home-head">
    <div id="home-background" ref="homeBackground" data-images="<%- theme.background.map(url_for) %>"></div>
    <div id="home-info" @click="homeClick">
        <span class="loop"></span>
        <span class="loop"></span>
        <span class="loop"></span>
        <span class="loop"></span>
        <span class="info">
            <div class="wrap">
                <!-- title font -->
                <% if (theme.pageinfo && theme.pageinfo.titleFont) { %>
                    <h1 id="page-title" style="font-family: '<%= theme.pageinfo.titleFont %>';"><%= config.title %></h1>
                <% } else { %>
                    <h1 id="page-title"><%= config.title %></h1>
                <% } %>
                <!-- subtitle font -->
                <% if (theme.pageinfo && theme.pageinfo.subtitleFont) { %>
                    <h3 id="page-subtitle" style="font-family: '<%= theme.pageinfo.subtitleFont %>';"><%= config.subtitle %></h3>
                <% } else { %>
                    <h3 id="page-subtitle"><%= config.subtitle %></h3>
                <% } %>
                <!-- description font -->
                <% if (theme.pageinfo && theme.pageinfo.descriptionFont) { %>
                    <h5 id="page-description" style="font-family: '<%= theme.pageinfo.descriptionFont %>';"><%= config.description %></h5>
                <% } else { %>
                    <h5 id="page-description"><%= config.description %></h5>
                <% } %>
            </div>
        </span>
    </div>
</div>
<div id="home-posts-wrap" <%- theme.card.enable ? "" : 'class="home-posts-wrap-no-card"' %> ref="homePostsWrap">
    <div id="home-posts">
        <%- partial("posts") %>
        <%- partial("current") %>
    </div>
    <!-- the right card -->
    <% if (theme.card.enable) { %>
    <div id="home-card">
        <%- partial("card") %>
    </div>
    <% } %>
</div>
